::-ms-clear { display: none; }
.pointer{cursor:pointer;}
.eelco-header-fields{width:110px; text-align:left}
.eelco-header-style{background-color:#004E9C;color:white}
.colorField{background-color: green;}
.full-width{width:100%;}
button{width:200px;margin-top:15px;}
#cblColumns label {
    margin-left: 10px;
}